[Unit]
Description=Configure Static IP
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/barracuda-static-ip.conf
ExecStart=/sbin/ip addr add $IP_ADDRESS dev $INTERFACE
ExecStart=/bin/bash -c 'echo $DNS_SERVERS | tr " " "\n" > /etc/resolv.conf'

[Install]
WantedBy=multi-user.target

